# Node modules
node_modules/
package-lock.json
# Environment variables
.env

# Optional npm cache directory
.npm/

# dotenv environment files
.env.local
.env.development.local
.env.test.local
.env.production.local

# OS-specific
.DS_Store   