@import url('https://fonts.googleapis.com/css2?family=Nata+Sans:wght@100..900&display=swap');

body {
    padding-top: 70px;
    background-color: #f8f9fa;
    overflow-x: hidden;
    font-family: "Nata Sans", sans-serif;
}

#loginFormContainer {
    max-width: 420px;
    margin-top: 100px;
}

.restaurant-card {
    border: none;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.restaurant-card .img-fluid {
    object-fit: cover;
    max-height: 200px;
}

.restaurant-cover {
    height: 270px;
}

.restaurant-hours-entry {
    min-width: 80px;
}

.sidebar {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.templatedish-card {
    width: 120px;
}

.filter-toggle {
    display: none;
}

.filters-desktop {
    display: block;
}
