<div class="position-relative w-100 mb-4" style="height: 270px;">
    <img id="restaurantCover" alt="Restaurant Cover" class="w-100 h-100 object-fit-cover"
        style="min-height: 200px; max-height: 320px;">
    <div class="position-absolute bottom-0 start-0 p-4 bg-dark bg-opacity-50 rounded-end">
        <h1 id="restaurantName" class="text-white fw-bold m-0 display-5">Restaurant</h1>
    </div>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-md-7">
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="p-3 border rounded bg-light mb-4">
                        <div class="row">
                            <div class="col-5 col-md-4 fw-semibold">Username</div>
                            <div id="restaurantOwnerUsername" class="col">—</div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-5 col-md-4 fw-semibold">Email</div>
                            <div id="restaurantOwnerEmail" class="col">—</div>
                        </div>
                    </div>

                    <div class="mb-4">
                        <div class="row mb-2">
                            <div class="col-5 col-md-3 offset-md-1 fw-semibold">Address</div>
                            <div id="restaurantAddress" class="col">—</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-5 col-md-3 offset-md-1 fw-semibold">Phone</div>
                            <div id="restaurantPhone" class="col">—</div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-5 col-md-3 offset-md-1 fw-semibold">VAT</div>
                            <div id="restaurantVat" class="col">—</div>
                        </div>
                    </div>

                    <dl>
                        <dt class="col-12 col-md-11 offset-md-1 mt-3 mb-4 fw-bold">Opening Hours</dt>
                        <div id="hoursList" class="row mb-2"></div>
                    </dl>

                    <div class="mt-4 d-grid gap-2">
                        <button id="btnEditProfile" class="btn btn-outline-primary">Edit Profile</button>
                    </div>
                </div>
            </div>
        </div>
    </div>